.header {
  background: $off-black;
  color: #fff;
  //   margin-bottom: $xl-size;
  padding: $m-size 0;
}

.menu {
  display: flex;
  margin-top: $m-size;
  color: white;
}
.menu .menu-item {
  padding: $m-size;
  text-decoration: none;
}

.menu .menu-item:hover {
  padding: $m-size;
  text-decoration: none;
  color: $off-white;
}
.menu .is-active {
  color: $off-white;
}
